:root {
    --main: rgb(24, 24, 143);
    --background: rgb(192, 205, 241);
    --small: rgb(1, 1, 63);
}

* {
    font-size: 16;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    width: 100%;
    height: 200px;
    background-image: url(../images/brick-background.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    padding: 40px;
    font-size: 3rem;
    color: var(--background);
    background-color: var(--main);
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgb(176, 193, 240);
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    color: var(--small);
    font-size: 1.5rem;
    font-weight: bolder;
    padding: auto 20px;
    margin-right: 20px;
}

main {
    background-color: var(--background);
    padding-bottom: 40px;
    margin-bottom: 0;
    background: linear-gradient(10deg, var(--main),
    var(--background));
}

h2 {
    font-size: 2rem;
    color: var(--main);
    width: 30%;
    margin-left: 20px;
    align-self: stretch;
}

.about {
    display: flex;
    align-items: flex-end;
    min-height: 200px;
    padding-top: 30px;
    margin-bottom: 10px;
}

#bio {
    font-weight: bolder;
    line-height: 1.5rem;
    width: 65%;
    color: var(--small);
    padding-right: 20px;
}

#pic {
   height: 200px;
   align-self: center;
   border-radius: 10px;
   margin-right: 10px;
}

.work {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 10px 10px; 
    grid-template-areas: 
    "work-title work-title1 grid-1 grid-1 grid-1 grid-1 grid-1 grid-1"  
    "work-title work-title1 grid-1 grid-1 grid-1 grid-1 grid-1 grid-1"
    "work-title work-title1 grid-2 grid-2 grid-2 grid-3 grid-3 grid-3"
    "work-title work-title1 grid-4 grid-4 grid-4 grid-5 grid-5 grid-5"; 
    margin-right: 10px;
  }

.work-title {
    grid-area: work-title;
}

/*Add styling to project tiles*/
.grid-1 {
    grid-area: grid-1;
    background-image: url(../images/countries.png);
    height: 400px;
    border: 4px solid var(--small);
    background-size: cover;
}

.grid-2 {
    grid-area: grid-2;
    background-image: url(../images/quiz.png);
    height: 200px;
    border: 4px solid var(--small);
}

.grid-3 {
    grid-area: grid-3;
    background-image: url(../images/CSS-background.jpg);
    height: 200px;
    border: 4px solid var(--small);
    background-size: cover;
    background-position: center;
}

.grid-4 {
    grid-area: grid-4;
    background-image: url(../images/debug.jpg);
    height: 200px;
    border: 4px solid var(--small);
    background-size: contain;
}

.grid-5 {
    grid-area: grid-5;
    background-image: url(../images/studyguide.jpg);
    height: 200px;
    border: 4px solid var(--small);
    background-size: cover;
}

.grid-border {
    grid-area: work-title1;
    border-left: 5px var(--main) solid;
    /*background: linear-gradient(10deg, rgb(192, 205, 241), rgb(24, 24, 143));*/
}

.project-text {
    background-color: var(--background);
    width: fit-content;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 8px 8px 5px var(--main);
}

.container {
    text-decoration: none;
}

footer {
    background-image: url(../images/brick-background.jpg);
    height: 200%;
    width: 100%;
    background-size: cover;
    display: flex;
    min-height: 100px;
    align-items: center;
}

.contact-info {
    display: flex;
}

.contact-info p {
    font-weight: bold;
}

.footer-link {
    text-decoration: none;
    padding: 10px;
    color: var(--small);
}

@media screen and (max-width: 992px) {
   .banner {
    display: block;
   } 
   h1 {
    width: fit-content;
    margin: 0 auto;
   }
   ul {
    text-align: center;
   }
   .about {
    display: block;
   }
   h2 {
    text-align: center;
    margin: 0 auto;
   }
   #bio {
    width: 100%;
    text-align: center;
   }
   #pic {
    display: none;
   }
   .grid-3 {
    background-repeat: no-repeat;
    background-size: cover;
   }
   .grid-border {
    display: none;
   }
   .work {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
   }
   .work-title {
    display: block;
   }
   footer {
    display: block;
   }
   .contact-info {
    align-items: center;
    margin: 0 auto;
    justify-content: center;
   }
}

@media screen and (max-width: 768px) {
    .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    h1 {
        color: var(--small);
        background-color: transparent !important;
        box-shadow: none;
        text-align: center;
        margin-bottom: 0;
        padding: 20px 0px 0px 0px;
        width: fit-content;
    }
    .contact-info {
        display: flex;
        flex-direction: column;
    }
}
